/* Apply to the body to center everything inside it */
html, body {
  height: 100%; /* Full height of the viewport */
  margin: 0; /* Remove default margins */
  padding-left: 0; 
  padding-right: 0;
  display: flex;
  width: 100%;
  justify-content: center; 
  text-align: center;
  box-sizing: border-box;  
}

* {
  box-sizing: inherit;
}

/* You can also add this to make sure the content inside body doesn't overflow */
body {
  background-color: #e5e5e5;
}

.redesign-of-h-m-page {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .redesign-of-h-m-page .div {
    background-color: #e5e5e5;
    width: 100%;
    position: relative;
  }
  
  .redesign-of-h-m-page .group {
    position: absolute;
    width: 384px;
    height: 491px;
    top: 254px;
    left: 250px;
  }

  .redesign-of-h-m-page .overlap {
    position: relative;
    width: 500px;
    height: 550px;
    background-image: url(assets/images/preppyromance_h&m.jpg); 
    background-size: cover; 
    background-position: center; 
    border-radius: 24px;
    left: 0;
}

.redesign-of-h-m-page .overlap:hover {
  box-shadow: 8px 8px 16px #403f3f, -8px -8px 16px #ffffff;
}

.redesign-of-h-m-page .overlap-II {
  position: relative;
  width: 500px;
  height: 550px;
  background-image: url('assets/images/elevatedfailfits_h&m.jpg'); 
  background-size: cover; 
  background-position: center; 
  border-radius: 24px;
  left:120px;
}

.redesign-of-h-m-page .overlap-II:hover {
  box-shadow: -8px 8px 16px #403f3f, -8px -8px 16px #ffffff;
}
  
  .redesign-of-h-m-page .text-wrapper {
    position: absolute;
    top: 386px;
    left: 33px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .overlap-group-wrapper {
    position: absolute;
    width: 87px;
    height: 22px;
    top: 431px;
    left: 33px;
  }
  
  .redesign-of-h-m-page .overlap-group {
    position: relative;
    width: 85px;
    height: 22px;
    background-color: #bebebe;
    border-radius: 12px;
  }

  .redesign-of-h-m-page .overlap-group:hover{
    background-color: #a9abad;
  }
  
  .redesign-of-h-m-page .text-wrapper-2 {
    position: absolute;
    height: 15px;
    top: 4px;
    left: 13px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
  }
  
  .redesign-of-h-m-page .overlap-wrapper {
    position: absolute;
    width: 386px;
    height: 491px;
    top: 254px;
    left: 648px;
  }
  
  .redesign-of-h-m-page .text-wrapper-3 {
    position: absolute;
    width: 248px;
    top: 367px;
    left: 160px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .p {
    position: absolute;
    width: 379px;
    top: 400px;
    left: 30px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .div-wrapper {
    position: absolute;
    width: 87px;
    height: 22px;
    top: 431px;
    left: 320px;
  }
  
  .redesign-of-h-m-page .text-wrapper-4 {
    position: absolute;
    height: 15px;
    top: 3px;
    left: 13px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
  }
  
  /* .redesign-of-h-m-page .group-2 {
    position: absolute;
    width: 793px;
    height: 95px;
    top: 150px;
    left: 290px;
  } */
  .group-2 {
    width: 100%;
    max-width: 1200px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .group-2 {
      padding-left: 20px;  /* Reduced padding for smaller screens */
      padding-right: 20px; /* Reduced padding for smaller screens */
    }
  }
  
  
  
    .redesign-of-h-m-page .text-wrapper-5 {
      position: absolute;
      width: 158px;
      top: 21px;
      left: 410px;
      font-family: "Inter", Helvetica;
      font-weight: 400;
      color: #000000;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      font-weight: bold;
      cursor:context-menu;
  }
  
  .redesign-of-h-m-page .text-wrapper-6 {
    position: absolute;
    width: 149px;
    top: 36px;
    left: 415px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .overlap-3 {
    position: absolute;
    width: 108px;
    height: 22px;
    top: 59px;
    left: 250px;
    background-color: #bebebe;
    border-radius: 24px;
  }
  
  .redesign-of-h-m-page .text-wrapper-7 {
    position: absolute;
    width: 48px;
    height: 15px;
    top: 4px;
    left: 29px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .overlap-group-2 {
    position: absolute;
    width: 108px;
    height: 22px;
    top: 59px;
    left: 379px;
    background-color: #bebebe;
    border-radius: 24px;
  }
  
  .redesign-of-h-m-page .text-wrapper-8 {
    position: absolute;
    width: 32px;
    height: 15px;
    top: 4px;
    left: 38px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .overlap-4 {
    position: absolute;
    width: 108px;
    height: 22px;
    top: 59px;
    left: 507px;
    background-color: #bebebe;
    border-radius: 24px;
  }
  
  .redesign-of-h-m-page .overlap-5 {
    position: absolute;
    width: 108px;
    height: 22px;
    top: 59px;
    left: 636px;
    background-color: #bebebe;
    border-radius: 24px;
  }
  
  .redesign-of-h-m-page .text-wrapper-9 {
    position: absolute;
    width: 43px;
    height: 15px;
    top: 4px;
    left: 32px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  } 

  .redesign-of-h-m-page .overlap-2 {
    position: relative;
    width: 920px;
    height: 95px;
    background-color: #d9d9d9; 
    border-radius: 24px;
    overflow: hidden;
}

.redesign-of-h-m-page .overlap-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/images/backhm.jpg'); 
    background-size: cover;
    background-position: center; 
    opacity: 0.2; 
    z-index: 1; 
}

.redesign-of-h-m-page .text-wrapper-5,
.redesign-of-h-m-page .text-wrapper-6,
.redesign-of-h-m-page .text-wrapper-7,
.redesign-of-h-m-page .text-wrapper-8,
.redesign-of-h-m-page .text-wrapper-9 {
  
    z-index: 2; 
}

.redesign-of-h-m-page .text-wrapper-7:hover,
.redesign-of-h-m-page .text-wrapper-8:hover,
.redesign-of-h-m-page .text-wrapper-9:hover{
  text-decoration: underline;
}

.redesign-of-h-m-page .overlap-3,
.redesign-of-h-m-page .overlap-group-2,
.redesign-of-h-m-page .overlap-4,
.redesign-of-h-m-page .overlap-5 {
  cursor: pointer;
}
  
  .redesign-of-h-m-page .text-wrapper-10 {
    position: absolute;
    top: 1150px;
    left: 618px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .group-3 {
    position: absolute;
    width: 1071px;
    height: 270px;
    top: 840px;
    left: 200px;
  }
  
  .redesign-of-h-m-page .text-wrapper-11 {
    position: absolute;
    width: 392px;
    top: 0;
    left: 350px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .overlap-group-3 {
    position: relative;
    width: 144px;
    height: 210px;
    background-color: #e5e5e5;
    border-radius: 20px;
    border: none;
    box-shadow: 8px 8px 15px #a3b1c0, -8px -8px 15px #ffffff;;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .redesign-of-h-m-page .overlap-group-3:hover {
    box-shadow: inset 4px 4px 10px #a3b1c0, inset -4px -4px 10px #ffffff;
  }
  
  .redesign-of-h-m-page .text-wrapper-12 {
    position: absolute;
    width: 80px;
    top: 168px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: start;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
    font-weight: bold;
  }
  
  .redesign-of-h-m-page .text-wrapper-13 {
    position: absolute;
    width: 70px;
    top: 183px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: start;
    letter-spacing: 0;
    line-height: normal;
    font-weight: 600;
  }
  
  .redesign-of-h-m-page .rectangle1 {
    position: absolute;
    width: 121px;
    height: 150px;
    top: 10px;
    left: 11px;
    background-image: url('assets/images/cloth1_kid.webp'); 
    background-size: cover; 
    background-position: center; 
    border-radius: 18px;
    cursor: pointer;
}
.redesign-of-h-m-page .rectangle1:hover{
  background-image: url('assets/images/cloth1_kidback.jpg');
}

.redesign-of-h-m-page .rectangle2 {
  position: absolute;
  width: 121px;
  height: 150px;
  top: 10px;
  left: 11px;
  background-image: url('assets/images/cloth2_kid.webp'); 
  background-size: cover; 
  background-position: center; 
  border-radius: 18px;
  cursor: pointer;
}

.redesign-of-h-m-page .rectangle2:hover{
  background-image: url('assets/images/cloth2_kidback.webp');
}
.redesign-of-h-m-page .rectangle3 {
  position: absolute;
  width: 121px;
  height: 150px;
  top: 10px;
  left: 11px;
  background-image: url('assets/images/cloth3_kid.webp'); 
  background-size: cover; 
  background-position: center; 
  border-radius: 18px;
  cursor: pointer;
}
.redesign-of-h-m-page .rectangle3:hover{
  background-image: url('assets/images/cloth3_kidback.webp');
}

.redesign-of-h-m-page .rectangle4 {
  position: absolute;
  width: 121px;
  height: 150px;
  top: 10px;
  left: 11px;
  background-image: url('assets/images/cloth4_kid.webp'); 
  background-size: cover; 
  background-position: center; 
  border-radius: 18px;
  cursor: pointer;
}
.redesign-of-h-m-page .rectangle4:hover{
  background-image: url('assets/images/cloth4_kidback.jpg');
}

.redesign-of-h-m-page .rectangle5 {
  position: absolute;
  width: 121px;
  height: 150px;
  top: 10px;
  left: 11px;
  background-image: url('assets/images/cloth5_kid.webp');
  background-size: cover; 
  background-position: center; 
  border-radius: 18px;
  cursor: pointer;
}

.redesign-of-h-m-page .rectangle5:hover{
  background-image: url('assets/images/cloth5_kidback.jpg');
}

.redesign-of-h-m-page .rectangle6 {
  position: absolute;
  width: 121px;
  height: 150px;
  top: 10px;
  left: 11px;
  background-image: url('assets/images/cloth6_kid.webp');
  background-size: cover; 
  background-position: center; 
  border-radius: 18px;
  cursor: pointer;
}

.redesign-of-h-m-page .rectangle6:hover{
  background-image: url('assets/images/cloth6_kidback.jpg');
}

.redesign-of-h-m-page .group-4 {
  position: absolute;
  width: 148px;
  height: 210px;
  top: 55px;
  left: 60px;
}

  .redesign-of-h-m-page .group-5 {
    position: absolute;
    width: 148px;
    height: 210px;
    top: 55px;
    left: 233px;
  }
  
  .redesign-of-h-m-page .group-6 {
    position: absolute;
    width: 148px;
    height: 210px;
    top: 55px;
    left: 578px;
  }
  
  .redesign-of-h-m-page .group-7 {
    position: absolute;
    width: 148px;
    height: 210px;
    top: 55px;
    left: 406px;
  }
  
  .redesign-of-h-m-page .group-8 {
    position: absolute;
    width: 148px;
    height: 210px;
    top: 55px;
    left: 748px;
  }

  .redesign-of-h-m-page .group-XI {
    position: absolute;
    width: 148px;
    height: 210px;
    top: 55px;
    left: 918px;
  }

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e5e5e5;
  height: 90px;
  padding: 0 20px; 
  position: relative;
}

.align-justify {
  height: 32px;
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 40px; 
}

.user {
  height: 32px;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 20px; 
}

.search-bar {
  width: 100%;
  max-width: 200px;
  background-color: transparent;
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid #999;
  font-size: 14px;
  color: #333;
  outline: none;
}

.search-bar::placeholder {
  color: #555;
}

.side-panel {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  transition: left 0.3s ease; 
  z-index: 1000;
}

.side-panel.open {
  left: 0; 
}

.side-panel {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background-color: #d9d9d9;
  color: #fff;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}

.side-panel.open {
  left: 0;
}

.group-9 {
  margin-bottom: 20px;
}

.group-10, .group-11 {
  margin-bottom: 15px;
}

.text-wrapper-14, .text-wrapper-15, .text-wrapper-16, .text-wrapper-17, .text-wrapper-18,
.text-wrapper-19, .text-wrapper-20, .text-wrapper-21, .text-wrapper-22, .text-wrapper-23,
.h-m-home, .text-wrapper-24, .text-wrapper-25, .text-wrapper-26 {
  font-size: 16px;
  margin: 8px 0;
  cursor: pointer;
}

.text-wrapper-14:hover, .text-wrapper-15:hover, .text-wrapper-16:hover, .text-wrapper-17:hover, .text-wrapper-18:hover,
.text-wrapper-19:hover, .text-wrapper-20:hover, .text-wrapper-21:hover, .text-wrapper-22:hover, .text-wrapper-23:hover,
.h-m-home:hover, .text-wrapper-24:hover, .text-wrapper-25:hover, .text-wrapper-26:hover {
  color: #ccc; 
}

  .redesign-of-h-m-page .text-wrapper-14 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .text-wrapper-15 {
    position: absolute;
    top: 28px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .text-wrapper-16 {
    position: absolute;
    top: 56px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .text-wrapper-17 {
    position: absolute;
    top: 84px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .text-wrapper-18 {
    position: absolute;
    top: 112px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .text-wrapper-14:hover,
  .redesign-of-h-m-page .text-wrapper-15:hover,
  .redesign-of-h-m-page .text-wrapper-16:hover,
  .redesign-of-h-m-page .text-wrapper-17:hover,
  .redesign-of-h-m-page .text-wrapper-18:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  .redesign-of-h-m-page .text-wrapper-19 {
    position: absolute;
    height: 15px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    cursor: context-menu;
  }
  
  .redesign-of-h-m-page .text-wrapper-20 {
    top: 30px;
    position: absolute;
    height: 12px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-21 {
    top: 53px;
    position: absolute;
    height: 12px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-22 {
    position: absolute;
    height: 12px;
    top: 76px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-23 {
    top: 99px;
    position: absolute;
    height: 12px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .h-m-home {
    position: absolute;
    height: 12px;
    top: 122px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-24 {
    position: absolute;
    height: 12px;
    top: 145px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-25 {
    top: 168px;
    position: absolute;
    height: 12px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-26 {
    position: absolute;
    height: 12px;
    top: 191px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-20:hover,
  .redesign-of-h-m-page .text-wrapper-21:hover,
  .redesign-of-h-m-page .text-wrapper-22:hover,
  .redesign-of-h-m-page .text-wrapper-23:hover,
  .redesign-of-h-m-page .h-m-home:hover,
  .redesign-of-h-m-page .text-wrapper-24:hover,
  .redesign-of-h-m-page .text-wrapper-25:hover,
  .redesign-of-h-m-page .text-wrapper-26:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  .redesign-of-h-m-page .group-12 {
    position: absolute;
    width: 217px;
    height: 367px;
    top: 84px;
    left: 1051px;
  }
  
  .redesign-of-h-m-page .overlap-6 {
    position: relative;
    width: 215px;
    height: 367px;
    background-color: #d9d9d9;
    border-radius: 24px;
    left: 200px;
    display: none;
  }
  
  .redesign-of-h-m-page .overlap-6.show {
    display: block; 
  }
  
  
  .redesign-of-h-m-page .text-wrapper-27 {
    position: absolute;
    top: 114px;
    left: 17px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    cursor: context-menu;
  }
  
  .redesign-of-h-m-page .top-right {
    position: absolute;
    width: 106px;
    height: 68px;
    top: 25px;
    left: 16px;
  }
  
  .redesign-of-h-m-page .text-wrapper-28 {
    position: absolute;
    top: 53px;
    left: 1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .text-wrapper-29 {
    position: absolute;
    top: 27px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .text-wrapper-30 {
    position: absolute;
    top: 0;
    left: 1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .centre {
    position: absolute;
    width: 158px;
    height: 121px;
    top: 142px;
    left: 16px;
  }
  
  .redesign-of-h-m-page .overlap-group-4 {
    position: relative;
    width: 152px;
    height: 121px;
  }
  
  .redesign-of-h-m-page .free-flexible {
    position: absolute;
    width: 131px;
    top: 39px;
    left: 1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .text-wrapper-31 {
    position: absolute;
    width: 152px;
    top: 79px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .text-wrapper-32 {
    position: absolute;
    width: 125px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }

  .redesign-of-h-m-page .text-wrapper-28:hover,
  .redesign-of-h-m-page .text-wrapper-29:hover,
  .redesign-of-h-m-page .text-wrapper-30:hover,
  .redesign-of-h-m-page .text-wrapper-31:hover,
  .redesign-of-h-m-page .text-wrapper-32:hover,
  .redesign-of-h-m-page .free-flexible:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  
  .redesign-of-h-m-page .group-wrapper {
    position: absolute;
    width: 515px;
    height: 240px;
    top: 1210px;
    left: 238px;
    background-image: url('assets/images/menhm.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 24px 0 0 0; 
}
.redesign-of-h-m-page .group-wrapper:hover{
  box-shadow: 8px 8px 16px #403f3f , -8px -8px 16px #ffffff;
}


  
  .redesign-of-h-m-page .group-13 {
    position: relative;
    width: 126px;
    height: 67px;
    top: 149px;
    left: 35px;
  }
  
  .redesign-of-h-m-page .text-wrapper-33 {
    width: 124px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    color: #e5e5e5;
    cursor:context-menu;
  }
  
  .redesign-of-h-m-page .group-14 {
    position: absolute;
    width: 116px;
    height: 22px;
    top: 45px;
    left: 0;
  }
  .redesign-of-h-m-page .group-S {
    position: absolute;
    width: 116px;
    height: 22px;
    top: 45px;
    left: 20px;
  }

  .redesign-of-h-m-page .group-15 {
    position: absolute;
    width: 515px;
    height: 240px;
    top: 1465px;
    left: 238px;
    background-image: url('assets/images/ladieshm.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 0 0 0 24px; 
  }
  .redesign-of-h-m-page .group-15:hover{
    box-shadow: 8px 8px 16px #403f3f, -8px -8px 16px #ffffff;
  }

  
  .redesign-of-h-m-page .group-16 {
    position: relative;
    width: 160px;
    height: 67px;
    top: 148px;
    left: 35px;
  }
  
  .redesign-of-h-m-page .group-17 {
    position: absolute;
    width: 515px;
    height: 240px;
    top: 1210px;
    left: 767px;
    background-image: url('assets/images/sportshm.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 0 24px 0 0; 
  }

  .redesign-of-h-m-page .group-17:hover{
    box-shadow: 8px 8px 16px #403f3f, -8px -8px 16px #ffffff;
  }
  
  .redesign-of-h-m-page .group-18 {
    position: relative;
    width: 116px;
    height: 67px;
    top: 149px;
    left: 363px;
  }
  
  .redesign-of-h-m-page .text-wrapper-34 {
    position: absolute;
    width: 102px;
    top: 0;
    left: 12px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    color: #e5e5e5;
    cursor:context-menu;
  }
  
  .redesign-of-h-m-page .group-19 {
    position: absolute;
    width: 515px;
    height: 240px;
    top: 1465px;
    left: 767px;
    background-image: url('assets/images/kidshm.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 0 0 24px 0; 
  }

  .redesign-of-h-m-page .group-19:hover{
    box-shadow: 8px 8px 16px #403f3f, -8px -8px 16px #ffffff;
  }
  
  .redesign-of-h-m-page .group-20 {
    position: relative;
    width: 126px;
    height: 67px;
    top: 148px;
    left: 352px;
  }
  
  .redesign-of-h-m-page .text-wrapper-35 {
    position: absolute;
    top: 0;
    left: 12px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    cursor:context-menu;
  }
  
  .redesign-of-h-m-page .group-21 {
    position: absolute;
    width: 87px;
    height: 22px;
    top: 45px;
    left: 8px;
  }
  
  .redesign-of-h-m-page .footer {
    position: absolute;
    width: 100%;
    height: 298px;
    top: 1780px;
    left: 0;
    background-color: #d9d9d9;
  }
 
  
  .redesign-of-h-m-page .group-22 {
    position: absolute;
    width: 155px;
    height: 151px;
    top: 36px;
    left: 452px;
  }
  
  .redesign-of-h-m-page .text-wrapper-36 {
    position: absolute;
    height: 12px;
    top: 24px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-37 {
    position: absolute;
    height: 12px;
    top: 47px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-38 {
    position: absolute;
    height: 12px;
    top: 70px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-39 {
    position: absolute;
    height: 12px;
    top: 93px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-40 {
    position: absolute;
    height: 12px;
    top: 116px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-41 {
    height: 12px;
    top: 139px;
    font-weight: 400;
    font-size: 10px;
    white-space: nowrap;
    position: absolute;
    left: 0;
    font-family: "Inter", Helvetica;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .group-23 {
    position: absolute;
    width: 103px;
    height: 197px;
    top: 36px;
    left: 645px;
  }
  
  .redesign-of-h-m-page .text-wrapper-42 {
    top: 162px;
    position: absolute;
    height: 12px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-43 {
    top: 185px;
    position: absolute;
    height: 12px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .redesign-of-h-m-page .text-wrapper-44 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .group-24 {
    position: absolute;
    width: 178px;
    height: 67px;
    top: 60px;
    left: 843px;
  }
  
  .redesign-of-h-m-page .sign-up-now-and-be {
    position: absolute;
    width: 174px;
    height: 36px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .text-wrapper-45 {
    position: absolute;
    height: 15px;
    top: 52px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .group-25 {
    position: absolute;
    width: 182px;
    height: 56px;
    top: 146px;
    left: 843px;
  }
  
  .redesign-of-h-m-page .text-wrapper-46 {
    position: absolute;
    height: 15px;
    top: 41px;
    left: 64px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .redesign-of-h-m-page .ellipse-2 {
    width: 20px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
  }
  
  .redesign-of-h-m-page .ellipse-3 {
    width: 20px;
    height: 20px;
    left: 32px;
    position: absolute;
    top: 0;
    cursor: pointer;
  }
  
  .redesign-of-h-m-page .ellipse-4 {
    width: 20px;
    height: 20px;
    left: 64px;
    position: absolute;
    top: 0;
    cursor: pointer;
  }
  
  .redesign-of-h-m-page .ellipse-5 {
    width: 20px;
    height: 20px;
    left: 96px;
    position: absolute;
    top: 0;
    cursor: pointer;
  }
  
  .redesign-of-h-m-page .ellipse-6 {
    width: 20px;
    height: 20px;
    left: 128px;
    position: absolute;
    top: 0;
    cursor: pointer;
  }
  
  .redesign-of-h-m-page .ellipse-7 {
    width: 20px;
    height: 20px;
    left: 160px;
    position: absolute;
    top: 0;
    cursor: pointer;
  }
  
  .redesign-of-h-m-page .group-26 {
    position: absolute;
    width: 144px;
    height: 174px;
    top: 36px;
    left: 272px;
  }
